<div class='container lists'>
  <h2>Your lists</h2>

  <% @current_user_lists.each do |list| %>
    <%= link_to list_path(list), class: 'list-name' do %>
      <%= panel raw("<i class='glyphicon glyphicon-list-alt owner'></i> #{list.name}") %>
    <% end %>
  <% end %>

  <%= link_to 'Create a list', new_list_path, class: 'btn btn-success' %>

  <h2>Other lists</h2>

  <% @other_lists.each do |list| %>
    <%= link_to list_path(list), class: 'list-name' do %>
      <%= panel raw("<i class='glyphicon glyphicon-list-alt'></i> #{list.name} by #{list.user.email}") %>
    <% end %>
  <% end %>
</div>
