<div class='container list'>
  <h1>
    <i class="glyphicon glyphicon-list-alt<%= ' owner' if @owner %>"></i>
    <%= @list.name %> <span class='shrink'>by <%= @list.user.email %></span>
  </h1><br/>

  <% if @owner %>
    <%= link_to('Add an item', new_list_item_path(@list), class: 'btn btn-success') %>
    <br/>
    <br/>
  <% end %>

  <% @items.each do |item| %>

    <% if @owner %>
      <div class='buttons right'>
        <%= link_to raw("Edit <i class='glyphicon glyphicon-pencil'></i>"), edit_list_item_path(@list, item), class: 'btn btn-primary' %>
        <%= link_to raw("Delete <i class='glyphicon glyphicon-remove'></i>"), list_item_path(@list, item), data: { confirm: 'Are you sure you want to delete this item?' }, method: :delete, class: 'btn btn-danger' %>
      </div>
    <% else %>
      <div class='buttons right'>
        <% if item.marked %>
          <% if item.marker == current_user %>
            <%= link_to raw("Unmark as purchased <i class='glyphicon glyphicon-gift'></i>"), unmark_list_item_path(@list, item), method: :put, class: 'btn btn-warning' %>
          <% else %>
            <h5 class='purchased_by'><%= "Purchased by #{item.marker.try(:email)}" %></h5>
          <% end %>
        <% else %>
          <%= link_to raw("Mark as purchased <i class='glyphicon glyphicon-gift'></i>"), mark_list_item_path(@list, item), method: :put, class: 'btn btn-success' %>
        <% end %>
      </div>
    <% end %>

    <%= link_to item.url do %>
      <%= panel title: item.name do %>
        <span class='item-url'><%= truncate(item.url, length: 50) %></span>
        <span class='item-price right'>$<%= item.price_in_dollars %></span>
      <% end %>
    <% end %>

  <% end %>
</div>
