<div class='container'>
  <br/>
  <div class='col-md-4'>
    <%= form_for(@item, layout: :basic, url: { action: 'update' }) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :url %>
      <%= f.text_field :price, value: @item.price_in_dollars %>
      <%= f.submit 'Update item', class: 'btn-success' %>
    <% end %>
  </div>
</div>
